   /*-------le-content-section-start------------*/
  .le-content-section .le-content-wrap .le-content-text-heading h3 {
    font-family: var(--ff-secondary);
    color: var(--c-black);
    font-size: 25px;
    text-transform: uppercase;
  }

  .le-content-section .le-content-wrap .le-content-para .le-para {
    font-family: var(--ff-tertiary);
    font-size: 15px;
    padding: 30px 0;
    font-weight: 400;
    line-height: 28px;
    color: var(--c-text-light);
  }

  .le-content-section .le-content-wrap .le-list-content .list-items .items {
    list-style-type: disc;
    font-size: 15px;
    color: var(--c-text-light);
    font-family: var(--ff-tertiary);
    line-height: 28px;
    font-weight: 400;
    margin-left: 30px;
  }

  .le-content-section .le-content-wrap .le-list-content .list-items {
    padding: 30px 0;
  }

  .le-content-section .le-content-wrap .le-list-content .list-items .nest-content {
    padding: 10px 0;
  }

  .le-content-section .le-content-wrap .le-list-content .list-items .nest-content .nest-items{
    list-style-type: circle;
    font-size: 15px;
    color: var(--c-text-light);
    font-family: var(--ff-tertiary);
    line-height: 28px;
    font-weight: 400;
    margin-left: 20px;
  }

/*-------le-content-section-end------------*/

  @media (min-width: 1400px) and (min-width: 1600px){

  }

  @media (min-width: 1200px) and (min-width: 1400px){
    
  }

  @media (min-width: 1024px) and (min-width: 1200px){
    
  }

  @media (min-width: 992px) and (min-width: 1024px){
    
  }

  @media only screen and (max-width:991.98px){
    /*-------le-content-section-start------------*/
    .le-content-section .le-content-wrap .le-content-text-heading h3 {font-size: 20px;}
    .le-content-section .le-content-wrap .le-content-para .le-para {padding: 15px 0;}
    .le-content-section .le-content-wrap .le-list-content .list-items {padding: 15px 0;}
    .le-content-section .le-content-wrap .le-list-content .list-items .nest-content {padding: 4px 0;}
    /*-------le-content-section-end------------*/
  }

  @media only screen and (max-width:767.98px){
     /*-------le-content-section-start------------*/
     .le-content-section .le-content-wrap .le-content-text-heading h3 {font-size: 18px;}
     .le-content-section .le-content-wrap .le-content-para .le-para {line-height: 20px;}
     .le-content-section .le-content-wrap .le-list-content .list-items {line-height: 22px;}
     .le-content-section .le-content-wrap .le-list-content .list-items .nest-content .nest-items{line-height: 22px;}
    /*-------le-content-section-end------------*/
  }

  @media only screen and (max-width:575.98px){
    .le-content-section .le-content-wrap .le-content-text-heading h3 {font-size: 16px;}
    .le-content-section .le-content-wrap .le-content-para .le-para {line-height: 18px;padding: 10px 0;font-size: 14px;}
    .le-content-section .le-content-wrap .le-list-content .list-items {padding: 10px 0;}
    .le-content-section .le-content-wrap .le-list-content .list-items .items {line-height: 18px;font-size: 14px;}
    .le-content-section .le-content-wrap .le-list-content .list-items .nest-content .nest-items {line-height: 18px;font-size: 14px;}
  }
