.le-products-section {
  background-color: var(--c-secondary);
}
.le-products-pioneer {
  background-color: #fafbfd;
}
.le-products-pioneer .le-product-top {
  display: none;
}
.le-products-section .le-product-top .custom-heading .product-section-heading {
  color: var(--c-white-600);
  background-color: var(--c-secondary);
}
.le-products-pioneer .le-product-top .custom-heading .product-section-heading {
  color: #4b4a4a;
  background-color: #fafbfd;
}
.le-product-short-desc p {
  color: #e1e1e1;
  font-family: var(--ff-primary);
  font-size: 22px;
  text-align: center;
  line-height: 36px;
  margin-top: 7px;
  font-weight: 400;
  padding: 0;
}
.le-products-pioneer .le-product-short-desc p {
  color: var(--c-text-light);
}
.le-product-socials {
  gap: 0 8px;
  margin-top: 16px;
}
.le-product-socials li {
  margin: 0;
}
.le-product-socials li a {
  height: 35px;
  width: 35px;
  display: inline-flex;
  font-size: 16px;
  color: var(--c-white-600);
  border-radius: 50%;
  align-items: center;
  border: 2px solid var(--c-white-600);
  transition: all 0.5s ease-in-out;
}
.le-product-socials li a:hover {
  background-color: var(--c-white-600);
  color: var(--c-secondary);
}
.le-products-pioneer .le-product-socials li a {
  color: var(--c-text-light);
  border: 2px solid var(--c-text-light);
}
.le-products-pioneer .le-product-socials li a:hover {
  background-color: var(--c-text-light);
  color: #fafbfd;
}
.le-product-box-wrap {
  display: flex;
  gap: 35px 30px;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  /* flex-wrap: wrap; */
}
.le-products-pioneer .le-product-box-wrap {
  flex-wrap: nowrap;
}
.le-product-box {
  margin: 0;
}
.le-product-box-image img {
  width: 100%;
  height: 390px;
  object-fit: cover;
}
.le-product-pioneer-box .le-product-box-image img {
  height: 260px;
}
.le-product-box-text {
  padding-top: 20px;
}
.le-product-box-text .le-product-box-heading {
  color: var(--c-white);
  font-size: 16px;
  font-family: var(--ff-primary);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 19px;
  display: -webkit-box;
    -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.le-product-box-text .le-product-box-short-desc {
  color: #dadada;
  font-family: var(--ff-tertiary);
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  margin-top: 6px;
}
.le-product-box-text .price {
  font-size: 15px;
  font-family: var(--ff-tertiary);
  font-weight: 500;
  color: var(--c-white-600);
  line-height: 26px;
}
.le-product-pioneer-box .le-product-box-text .le-product-box-heading,
.le-product-pioneer-box .le-product-box-text .le-product-box-short-desc,
.le-product-pioneer-box .le-product-box-text .price {
  display: none;
}
.le-product-box-text .custom-button {
  margin-top: 15px;
  background-color: var(--c-primary);
  padding-block: 8px;
  font-weight: 600;
  font-size: 12px;
}
.le-product-box-text .custom-button:hover {
  background-color: var(--c-white-600);
  color: var(--c-black);
}
.le-product-pioneer-box .le-product-box-text .custom-button:hover {
  background-color: var(--c-black);
  color: var(--c-white-600);
}
.le-products-image-section {
  height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.le-products-image-content {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.le-products-image-content .le-products-image-heading {
  color: var(--c-white);
  font-size: 42px;
  font-weight: 400;
  line-height: 36px;
}
.le-overlay {
  z-index: 999;
}
.le-overlay::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0 0 0 / 0.3);
  z-index: -1;
}
.le-product-box-image {
  display: block;
}
.faq-accordion .custom-accordion-list li {
  margin-left: 12px;
  list-style-type: unset;
}
@media (min-width: 1800px) and (max-width: 2400px){
  .le-products-image-section.vape-img {height: 990px;}
  }
@media (min-width: 1600px) and (max-width: 1800px){
  .le-products-image-section.vape-img {height: 910px;}
  }
@media (min-width: 1400px) and (max-width: 1600px){
.le-products-image-section.vape-img {height: 750px;}
}
@media (min-width: 1200px) and (max-width: 1400px){
.le-products-image-section.vape-img {height: 680px;}
}
@media (min-width: 1024px) and (max-width: 1200px){
.le-product-box-wrap {gap: 30px 20px;margin-top: 2.5rem;}
.le-product-box {flex-basis: 31.9%;}
.le-products-pioneer .le-product-box-wrap {column-gap: 0;}
.le-product-pioneer-box .le-product-box-image img {height: 240px;object-fit: contain;}
.le-product-pioneer-box {flex-basis: 25%;}
.le-products-image-section {height: 550px;}
.le-products-image-section .vape-img {height: 580px;}
}
@media (min-width: 992px) and (max-width: 1024px)  {
.le-product-box-wrap {gap: 30px 20px;margin-top: 2.5rem;flex-wrap: wrap;}
.le-product-box {flex-basis: 31.9%;}
.le-product-pioneer-box .le-product-box-image img {height: 170px;object-fit: contain;}
.le-products-image-section {height: 500px;}
.le-products-image-content .le-products-image-heading {font-size: 38px;}
.le-products-image-section.vape-img {height: 560px;}
}
@media only screen and (max-width: 991.98px)  {
.le-product-socials {margin-top: 10px;}
.le-product-socials li a {height: 30px;width: 30px;font-size: 13px;}
.le-product-box-wrap {gap: 30px 10px;margin-top: 2rem;flex-wrap: wrap;}
.le-product-box {flex-basis: 32.33%;}
.le-product-short-desc p {font-size: 18px;line-height: 30px;}
.le-product-box-image img {height: 320px;}
.le-products-pioneer .le-product-box-wrap {flex-wrap: wrap;}
.le-product-pioneer-box .le-product-box-image img {height: 280px;object-fit: contain;}
.le-products-image-section {height: 430px;}
.le-products-image-content .le-products-image-heading {font-size: 32px;}
.le-products-image-section.vape-img {height: 430px;}
}
@media only screen and (max-width: 767.98px)  {
.le-product-short-desc p {font-size: 16px;line-height: 26px;}
.le-products-section .le-product-top .custom-heading .product-section-heading {font-size: 18px;}
.le-product-box-wrap {gap: 25px 12px;}
.le-product-box {flex-basis: 48.6%;}
.le-product-box-image img {height: 300px;  object-fit: contain;}
.le-products-image-section {height: 320px;}
.le-products-image-content .le-products-image-heading {font-size: 28px;}
.le-product-pioneer-box .le-product-box-text {padding-top: 5px;}
.le-products-image-section.vape-img {height: 330px;}
}
@media only screen and (max-width: 575.98px) {
.le-products-section .le-product-top .custom-heading .product-section-heading {font-size: 16px;}
.le-product-short-desc p {font-size: 13px;line-height: 16px;}
.le-product-socials li a {height: 26px;width: 26px;font-size: 10px;}
.le-product-box-wrap {margin-top: 1.5rem;}
.le-product-box-text .custom-button {margin-top: 8px;}
.le-product-box {flex-basis: 100%;}
.le-products-image-section {height: 180px;}
.le-products-image-content .le-products-image-heading {font-size: 20px;}
.le-products-image-section.vape-img {height: 270px;}
}
@media only screen and (max-width: 480.98px) {
.le-products-image-section.vape-img {height: 185px;}
}