/*------- fdev-dc changes 10-10-2022 ------------*/
.le-content-section .le-content-wrap .le-content-text-heading h3 {
  font-family: var(--ff-secondary);
  color: var(--c-black);
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.le-content-section .le-content-wrap .le-content-para .le-para {
  font-family: var(--ff-tertiary);
  font-size: 15px;
  padding: 0 0 20px;
  font-weight: 400;
  line-height: 28px;
  color: var(--c-text-light);
}
.le-content-section .le-content-wrap .le-list-content .list-items .items {
  list-style-type: disc;
  font-size: 15px;
  color: var(--c-text-light);
  font-family: var(--ff-tertiary);
  line-height: 28px;
  font-weight: 400;
  margin-left: 15px;
}
.le-content-section .le-content-wrap .le-list-content .list-items {
  padding: 0 0 30px;
}
.le-content-section .le-content-wrap .le-list-content .list-items .nest-content {
  padding: 10px 0;
}
.le-content-section .le-content-wrap .le-list-content .list-items .nest-content .nest-items{
  list-style-type: circle;
  font-size: 15px;
  color: var(--c-text-light);
  font-family: var(--ff-tertiary);
  line-height: 28px;
  font-weight: 400;
  margin-left: 20px;
}
.le-products-section {
  background-color: var(--c-secondary);
}
.bottom-heading h3 {
  font-family: var(--ff-secondary);
  color: var(--c-black);
  font-size: 20px;
  text-transform: uppercase;
}
.bottom-para {
  font-family: var(--ff-tertiary);
  font-size: 15px;
  padding: 8px 0;
  font-weight: 400;
  line-height: 28px;
  color: var(--c-text-light);
}
.bottom-content {
  margin-top: 40px;
}
.text-heading-alt .heading {
  font-size: 25px !important;
}
.content-para-alt .le-para {
  font-size: 18px !important;
}
.le-content-section-bk {
  background-color: var(--c-text-dark);
}
.le-content-section-bk .le-content-wrap .le-content-text-heading h3 {
  color: var(--c-white);
}
.le-content-section-bk .le-content-wrap .le-content-text-heading h4 {
  color: var(--c-white);
  font-size: 20px;
  padding-top: 10px;
}
.le-content-section-bk  .items {
  color: var(--c-white);
  list-style-type: disc;
  font-size: 15px;
  font-family: var(--ff-tertiary);
  line-height: 28px;
  font-weight: 400;
  margin-left: 15px
}
.le-content-section-bk .nest-content .nest-items {
  list-style-type: circle;
}
.le-content-section-bk .nest-content {
  padding-left: 20px;
}
.le-content-section-bk .le-video {
  padding: 30px 0;
  position: relative;
  overflow: hidden;
}
.le-video iframe {
  width: 100%;
}
.le-content-section-bk .le-content-wrap .le-content-para .le-para{ 
  color: var(--c-white);
}
.le-content-section-bk .le-content-wrap .le-content-para .red-para {
  color: var(--c-primary);
  font-weight: 500;
}
.btn-hvr .custom-button:hover {
  background-color: var(--c-white) !important;
  color: var(--c-black) !important;
}
.le-content-text-heading .heading-dc {
  font-size: 20px;
  min-height: 48px;
  margin-bottom: 10px;
}
/*------- fdev-dc changes 10-10-2022 ------------*/

  @media (min-width: 1400px) and (max-width: 1600px){

  }

  @media (min-width: 1200px) and (max-width: 1400px){
    
  }

  @media (min-width: 1024px) and (max-width: 1200px){
    
  }

  @media (min-width: 992px) and (max-width: 1024px){
    .le-video iframe {height: 500px;}
  }

  @media only screen and (max-width:991.98px){
    /*-------le-content-section-start------------*/
    .le-content-section .le-content-wrap .le-content-text-heading h3 {font-size: 20px;}
    .le-content-section .le-content-wrap .le-content-para .le-para {padding: 0 0 15px;}
    .le-content-section .le-content-wrap .le-list-content .list-items {padding: 15px 0;}
    .le-content-section .le-content-wrap .le-list-content .list-items .nest-content {padding: 4px 0;}
    .le-content-text-heading .heading-dc {font-size: 19px;min-height: 46px;margin-bottom: 8px;}
    .le-video iframe {height: 400px;}
    /*-------le-content-section-end------------*/
  }

  @media only screen and (max-width:767.98px){
     /*-------le-content-section-start------------*/
     .le-content-section .le-content-wrap .le-content-text-heading h3 {font-size: 18px;}
     .le-content-section .le-content-wrap .le-content-para .le-para {line-height: 20px;}
     .le-content-section .le-content-wrap .le-list-content .list-items {line-height: 22px;}
     .le-content-section .le-content-wrap .le-list-content .list-items .nest-content .nest-items{line-height: 22px;}
     .le-content-text-heading .heading-dc {min-height: unset;}
     .text-heading-alt .heading {font-size: 20px !important;}
    .content-para-alt .le-para {font-size: 16px !important;}
    .le-video iframe {height: 300px;}
    /*-------le-content-section-end------------*/
  }

  @media only screen and (max-width:575.98px){
    /*-------le-content-section-start------------*/
    .le-content-section .le-content-wrap .le-content-text-heading h3 {font-size: 16px;line-height: 23px;}
    .le-content-section .le-content-wrap .le-content-para .le-para {line-height: 25px;padding: 0 0 10px;font-size: 14px;}
    .le-content-section .le-content-wrap .le-list-content .list-items {padding: 10px 0;}
    .le-content-section .le-content-wrap .le-list-content .list-items .items {line-height: 18px;font-size: 14px;}
    .le-content-section .le-content-wrap .le-list-content .list-items .nest-content .nest-items {line-height: 18px;font-size: 14px;}
    .le-video iframe {height: 250px;}
    /*-------le-content-section-end------------*/
  }



