/*vape-wholesale-css-start*/
.small-heading {
font-family: 'Montserrat', sans-serif;
font-size: 18px;
font-weight: 400;
color: var( --c-text-light);
line-height: 28px;
padding: 0px 0 20px;
}
.le-content-wrap .heading-2 {
font-family: var(--ff-tertiary);
font-size: 1.1rem;
font-weight: 400;
line-height: 28px;
color: var(--c-text-light);
padding:15px 0;
text-align: center;
}
.le-content-section .le-content-wrap .le-list-content .list-items .items a {
list-style-type: disc;
font-size: 15px;
color: var(--c-text-light);
font-family: var(--ff-tertiary);
line-height: 28px;
font-weight: 400;
transition: all 0.2s ease-in-out;
}
.le-content-section .le-content-wrap .le-list-content .list-items .items a:hover {
color: var(--c-primary);
}
.le-content-section .le-content-wrap .le-list-content .list-items .items {
margin-left: 15px;
}
.le-content-section .le-content-wrap .le-list-content .list-items {
padding: 0px 0 30px;
}
.le-content-section .add-content-text .heading-color {
color: var(--c-primary) !important;
font-size:25px !important;
text-transform: uppercase;
}
.short-heading {
font-size: 18px !important;
color: var( --c-text-light) !important;
padding: 0px 0 20px;
}
.le-para .link-text {
padding: 10px 0;
font-family: 'Montserrat', sans-serif;
font-size: 15px;
font-weight: 600;
color: var( --c-text-light);
line-height: 28px;
transition: all 0.2s ease-in-out;
cursor: pointer;
}
.le-para .link-text:hover {
color: var(--c-primary);
}
.le-para a {
font-family: var(--ff-tertiary);
font-size: 15px;
padding: 0px 0 20px;
font-weight: 600;
line-height: 28px;
color: var(--c-text-light);
transition: all 0.2s ease-in-out;
cursor: pointer;
}
.le-para a:hover {
color: var(--c-primary);
}
.form-control::placeholder {
color: #6c757d;
opacity: 0.7;
}
.form-control::placeholder {
color: #6c757d;
opacity: 0.6;
}

.vape-form #exampleFormControlInput1 {
height: 60px;
font-size: 15px;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
color: var( --c-text-light);
}
.vape-form .form-control {
background-color: #f8f8f8;
border: 1px solid transparent;
}
.vape-form #exampleFormControlTextarea1 {
height: 250px;
padding: 20px 15px;
font-size: 15px;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
color: var( --c-text-light);
}
.vape-form-button {
text-align: center;
}
.vape-form-button .custom-button {
font-family: var(--ff-tertiary);
background-color:var(--c-primary);
color: var(--c-white);
font-size: 13px;
padding: 10px 40px;
display: inline-block;
font-weight: 400;
line-height: 21px;
text-transform: uppercase;
border: 1px solid var(--c-primary);
border-radius: 0px;
margin-top: 20px;
transition: all 0.3s ease-in-out;
cursor: pointer;
}
.vape-form-button .custom-button:hover {
color: var(--c-white-600); background-color: var(--c-black);
border:1px solid var(--c-black);
}
.vape-content-button .custom-button {
margin: 0 0 25px;
}
.vape-content-button {
display: flex;
align-items: center;
gap: 12px;
} 
.le-content-wrap .custom-button { 
background-color:var(--c-primary);
}
.le-content-wrap .custom-button:hover {
color: var(--c-white-600); 
background-color: var(--c-black);
}
.vape-form {
padding: 30px;
margin: 10px 0 35px 0;
background-color:var(--c-white);
box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
.custom-pad {
padding: 0px 0 60px;
}
.vape-form .vape-form-button .custom-button {
margin-bottom: 0;
}
/*vape-wholesale-css-end*/

/*Best-pod-mods-2019-css start*/

.small-header .heading {
font-size: 20px !important;
color: var(--c-primary) !important;
}
.le-content-section .le-content-wrap .le-content-para .le-para .separate-text {
font-family: var(--ff-tertiary);
font-size: 15px;
padding: 0 0 20px;
font-weight: 400;
line-height: 28px;
color: var(--c-text-light);
}
/*Best-pod-mods-2019-css end*/


@media (min-width: 1200px) and (max-width: 1600px){
/* ************ Vape wholesale Page Start (fdev-sg) 8-10-2022 ************ */
.le-content-wrap .heading-2 {font-size: 1.1rem;padding: 30px 0;}
.le-content-section .add-content-text .heading-color {font-size: 20px !important;}

/* ************ Vape wholesale Page End (fdev-sg) 8-10-2022 ************ */

/*Best-pod-mods-2019-css start(fdev-sg)*/


/*Best-pod-mods-2019-css end(fdev-sg)*/
}
@media (min-width: 1024px) and (max-width: 1200px){
/* ************ Vape wholesale Page Start (fdev-sg) 8-10-2022 ************ */
.le-content-wrap .heading-2 {font-size: 1.1rem;padding: 15px 0; line-height: 28px;}
.le-content-section .add-content-text .heading-color {font-size: 20px !important;}

/* ************ Vape wholesale Page End (fdev-sg) 8-10-2022 ************ */

/*Best-pod-mods-2019-css start(fdev-sg)*/


/*Best-pod-mods-2019-css end(fdev-sg)*/
}
@media (min-width: 992px) and (max-width: 1024px){
/* ************ Vape wholesale Page Start (fdev-sg) 8-10-2022 ************ */
.le-content-wrap .heading-2 {font-size: 1rem;padding: 15px 0; line-height: 28px;}
.le-content-section .add-content-text .heading-color {font-size: 20px !important;}

/* ************ Vape wholesale Page End (fdev-sg) 8-10-2022 ************ */

/*Best-pod-mods-2019-css start(fdev-sg)*/


/*Best-pod-mods-2019-css end(fdev-sg)*/
}
@media only screen and (max-width: 991.98px) {
/* ************ Vape wholesale Page Start (fdev-sg) 8-10-2022 ************ */
.le-content-wrap .heading-2 {font-size: 0.9rem;padding: 15px 0; line-height: 28px; text-align: center;}
.le-content-section .add-content-text .heading-color {font-size: 20px !important;}
.vape-form #exampleFormControlInput1 {height: 42px;font-size: 14px;}
.vape-form-button .custom-button {margin-top: 8px;}
/* ************ Vape wholesale Page End (fdev-sg) 8-10-2022 ************ */

/*Best-pod-mods-2019-css start(fdev-sg)*/
.small-header .heading {font-size: 18px !important;text-align: left !important;}
/*Best-pod-mods-2019-css end(fdev-sg)*/
}
@media (max-width: 767.98px){
/* ************ Vape wholesale Page Start (fdev-sg) 8-10-2022 ************ */
.le-content-wrap .heading-2 {font-size: .9rem;padding: 15px 0;line-height: 24px;}
.le-para .link-text {font-size: 13px;}
.le-content-section .le-content-wrap .le-list-content .list-items .items a {font-size: 13px;}
.short-heading {font-size: 16px !important;padding: 20px 0 0;}
.le-para a {font-size: 13px;}
.le-content-section .add-content-text .heading-color {font-size: 18px !important;}
.small-heading {font-size: 16px;padding: 0px 0 10px;}
.vape-form #exampleFormControlInput1 {font-size: 13px;}
.vape-form #exampleFormControlTextarea1 {font-size: 13px;height: 180px;}
/* ************ Vape wholesale Page End (fdev-sg) 8-10-2022 ************ */

/*Best-pod-mods-2019-css start(fdev-sg)*/
.small-header .heading {font-size: 14px !important;}
/*Best-pod-mods-2019-css end(fdev-sg)*/
}
@media (max-width: 575.98px){

}
@media only screen and (max-width: 480.98px) {
/* ************ Vape wholesale Page Start (fdev-sg) 8-10-2022 ************ */
.vape-form {padding: 10px 10px 10px 10px;margin: 10px 0 40px 0;}
.vape-form #exampleFormControlInput1 {font-size: 12px;}
.vape-form #exampleFormControlTextarea1 {font-size: 12px;}
.le-content-wrap .heading-2 {font-size: .8rem;}
.vape-form #exampleFormControlInput1 {height: 40px;}
.vape-form-button .custom-button {width: 100%;}
.vape-content-button .custom-button {width: 100%;}
.le-para a {line-height: 25px;}
.le-para .link-text {line-height: 15px;}
.vape-content-button {flex-direction: column; margin-bottom: 15px;}
/* ************ Vape wholesale Page End (fdev-sg) 8-10-2022 ************ */

/*Best-pod-mods-2019-css start(fdev-sg)*/
.le-content-wrap .custom-button {width: 100%;text-align: center;margin:0;}
/*Best-pod-mods-2019-css end(fdev-sg)*/
}