@charset "utf-8";
/* CSS Document */


@media (min-width: 1920px) and (max-width: 2500px){
	/*supriyo-start*/
    .cart-section {padding: 10px 10px 10px 10px;width: 50%; text-align: center;}
    /*supriyo-end*/
    /* Paulami Saha work Start */
    .fi-offer-banner1 .container-fluid .row .col-lg-6:first-child .list-banner-content {right: 511px;}     
    
        /* Paulami Saha work End */
}

@media (min-width: 1600px) and (max-width: 1920px){
    /*supriyo-start*/
    .cart-section {padding: 10px 10px 10px 10px;width: 30%; text-align: center;}
    .cart-section li h4 {font-size: 12px;}
    
    /*supriyo-end*/
    /* Paulami Saha work start */
.fi-offer-img-wrap img {width: 100%;margin: 3px 0;height: 413px;}
.fi-offer-banner1 .container-fluid .row .col-lg-6:first-child .list-banner-content {right: 179px;}
/* .bsp-banner-bottom .bsp-banner-bottom-wap .list-banner-content {top: 5px;left: 53px;} */
         /* Paulami Saha work End */
	
}

@media (min-width: 1200px) and (max-width: 1600px){
	/*supriyo-start*/
    .cart-section {padding: 10px 10px 10px 10px;width: 32%; text-align: center;}
    .cart-section li h4 {font-size: 12px;}
    
    /*supriyo-end*/
    /* Paulami Saha work start */
    .custom-offer-banner1 li.ni-banner:nth-child(2n) {width: 41%;}
    .custom-offer-banner1 li.ni-banner img {height: 245px;}
    .custom-offer-banner1 li.ni-banner:nth-child(2n+1) {width: 54%;}
    .custom-offer-banner1 .ni-banner-wrap .list-banner-content h5 {font-size: 28px;}
    .custom-offer-banner1 .ni-banner-wrap .list-banner-content p {font-size: 16px;}
    

              /* Paulami Saha work End */
}
@media (max-width: 1230px)  {
    .custom-col-5 {
        flex: 0 0 24.999%;
        margin: 15px 0px;
      }
}
@media (min-width: 1024px) and (max-width: 1200px){
    /*suprio-start*/
    .navigation .nav-item a {font-size: 10px;}
    .cart-section li h4 {font-size: 14px;}
    .navigation .navbar-expand-lg .navbar-nav .nav-link {padding-right: 0rem; padding-left: 0rem; padding: 0 4px;}
    .cart-section {padding: 10px 10px 10px 10px;width: 42%; text-align: center;}
    .cart-section li h4 {font-size: 12px;}
    /*supriyo-end*/

	/* Paulami Saha work start */
	.custom-offer-banner1 .ni-banner-wrap {flex-wrap: wrap;}
    .ni-banner a img{width: 100%;}
    .bsp-banner-bottom .bsp-banner-bottom-wap .list-banner-content {top: 15px;}
    .custom-offer-banner1 li.ni-banner:nth-child(odd){margin-left: 0;width: 59%;}
    .custom-offer-banner1 li.ni-banner:nth-child(even){width: 39%; margin-right: 0;}
    .custom-offer-banner1 li.ni-banner {margin-bottom: 22px;}
    .custom-offer-banner1 li.ni-banner img {height: 331px;}

    
                         /* Paulami Saha work end */

    /*supriyo-blog-page-start*/
    .post-content .img-fluid {width: 100%;}
    .custom-inner-banner {padding: 100px 0;}
    .box-right-text h2 {font-size: 20px; line-height: 28px;}
    .box-right-text .paragraph {line-height: 22px;}
    .box-right-text h5 {margin-top: 10px; font-size: 14px;}
    .box-right-text .comment {margin-top: 10px;}
    .popular-text.align-self-center h5 {font-size: 14px;}
    .post-content-img {width: 100%;}

     /*supriyo-blog-page-end*/ 
}

@media (min-width: 992px) and (max-width: 1024px) {
    /*supriyo-start*/
    .cart-section li h4 {font-size: 14px;}
    .navigation .navbar-expand-lg .navbar-nav .nav-link {padding-right: 0rem; padding-left: 0rem; padding: 0 4px;}
    .logo-login .log-in li {padding: 0 5px 0 0;}
    .navigation .nav-item a {font-size: 10px;}
    .footer-1-text li a {font-size: 12px;}
    .footer-1-text li a span {padding-right: 5px;}
    .footer-2-text li a {font-size: 12px;}
    .footer-2-text li a span {padding-right: 5px;}
    .cart-section {padding: 10px 10px 10px 10px;width: 50%; text-align: center;}
    .cart-section li h4 {font-size: 12px;}

    /*supriyo-end*/
	/* Paulami Saha work start */
	.custom-offer-banner1 .ni-banner-wrap {flex-wrap: wrap;}
    .ni-banner a img{width: 100%;}
    .custom-offer-banner1 li.ni-banner:nth-child(odd){margin-left: 0;width: 58%;}
    .custom-offer-banner1 li.ni-banner:nth-child(even){width: 39%; margin-right: 0;}
    .custom-offer-banner1 li.ni-banner {margin-bottom: 15px;}
    .fi-offer-img-wrap img {height: 300px; margin-bottom: 14px;}
    .custom-offer-banner1 li.ni-banner img {margin-top: 4px; height: 282px;}
    
   
                         /* Paulami Saha work end */

/* Deep-banner-start */
/* .custom-banner .items { flex-direction: column; } */
.custom-banner .side-img { padding: 6px; }
.custom-banner .carousel-caption a{
 margin-top: 18px;
}
/* Deep-banner-end */
	
 /*supriyo-blog-page-start*/
 .post-content .img-fluid {width: 100%;}
 .custom-inner-banner {padding: 100px 0;}
 .box-right-text h2 {font-size: 20px; line-height: 28px;}
 .box-right-text .paragraph {line-height: 22px;}
 .box-right-text h5 {margin-top: 10px; font-size: 14px;}
 .box-right-text .comment {margin-top: 10px;}
 .popular-text.align-self-center h5 {font-size: 14px;}
 .post-content-img {width: 100%;}

  /*supriyo-blog-page-end*/ 


}


@media only screen and (max-width: 991.98px) {    
    /*supriyo-start*/
    .logo-search {display: none;}
    .log-in {display: none;}
    .navigation .navbar-brand.col-lg-none.col-sm-block.ms-0.py-0 {display: block;}
    .logo {display: none;}
    .navigation .navbar-brand.col-lg-none.col-sm-block.ms-0.py-0 img {width: 35%;}
    .cart-section li h4 {display: none;}
    .navigation .logo-login {display: block;}
    .logo-section {display: none;}
    .cart-section span {background-color: #fff; height: 35px; width: 35px; border-radius: 50px; color: #000; display: inline-block; text-align: center; line-height: 36px;}
    .cart-section {text-align: center;}
    .navigation .cart-section.col-md-3.col-lg-none.col-sm-block {display: block; text-align: end;}
    .footer-1-text li a {font-size: 14px;}
    .footer-1-text li a span {padding-right: 5px;}
    .copyright-left h4 {font-size: 12px;}
    .bottom-text li a {font-size: 12px;}
    .accordion-body {font-size: 12px;}
    .faq .accordion-button.collapsed {font-size: 16px;}
    .accordion-button:not(.collapsed) {font-size: 16px;}


    /*supriyo-end*/

    /* Paulami Saha work start */
    .custom-offer-banner1 .ni-banner-wrap {flex-wrap: wrap;}
    .ni-banner a img{width: 100%;}
    /* .bsp-banner-bottom .bsp-banner-bottom-wap .list-banner-content {top: 9px;} */
    .custom-offer-banner1 li.ni-banner:nth-child(odd){margin-left: 0;width: 55%;}
    .custom-offer-banner1 li.ni-banner:nth-child(even){width: 42%; margin-right: 0;}
    .custom-offer-banner1 li.ni-banner {margin-bottom: 15px;}
    .fi-offer-img-wrap img {height: 300px; margin-bottom: 10px;}
    .custom-offer-banner1 li.ni-banner img {margin-top: 8px;}
    .fi-offer-img-wrap img {width: 100%;height: 340px;}

    

                         /* Paulami Saha work end */

                         /* Deep-banner-start */
.custom-banner .items { flex-direction: row; }
.custom-banner .carousel-caption a { margin-top: 20px; }
/* Deep-banner-end */

.navbar-toggler { float: left;margin: 0; height: 45px; width: 45px; border-radius: 0;z-index: 1}
.navbar-toggler .icon-bar { width: 24px; background: #fff;transition: .5s ease;}
.navbar-toggler.collapsed .icon-bar:nth-child(2){transform: rotate(0) translateY(0) translateX(0);}
.navbar-toggler.collapsed .icon-bar:nth-child(3){opacity:1}
.navbar-toggler.collapsed .icon-bar:nth-child(4){transform:rotate(0) translateY(0) translateX(0);}
.navbar-toggler .icon-bar:nth-child(2){transform: rotate(-45deg) translateY(5px) translateX(-5px);}
.navbar-toggler .icon-bar:nth-child(3){opacity: 0}
.navbar-toggler .icon-bar:nth-child(4){transform:rotate(45deg) translateY(-4px) translateX(-3px);}
.navbar-header {display: block;}

/* sb */
.custom-col-5 {
    flex: 0 0 33.333%;
    margin: 10px 0px;
  }
.custom-button {
    font-size: 12px;
    padding: 7px 12px;}
    .custom-pad {
        padding: 30px 0;}
        .custom-heading .product-section-heading {padding: 0 10px;
            font-size: 20px;}
    .custom-banner .side-banner-content .custom-button {
        padding: 3px 7px;
        margin-top: 9px;
        font-size: 11px;
      }
      .custom-banner .side-banner .side-img img {
        height: 200px;
        object-fit: cover;
      }
      .custom-banner .side-banner:nth-child(2) .side-banner-content {
        top: 20px;
        transform: unset;
      }
      .custom-banner .side-banner-content h5 {font-size: 17px;}
.custom-banner li.side-banner {padding: 6px 6px 0px 0;}
.custom-banner li.side-banner:last-child {
    padding-right: 0;
  }
  .custom-banner .carousel-item img {
    height: 300px;
    object-fit: cover;
  }
  .custom-banner .carousel-caption h2 {font-size: 28px;
    padding-bottom: 15px;
  }
  .custom-banner .carousel-caption h4 {font-size: 18px;}

  .newest-items-section .product-items-wrap {
    padding: 15px 0 5px;
  }
  .newest-items-section .product-items-wrap .product-item-box .product-images img {
    width: 70%;
  }
  .newest-items-section .product-items-wrap .product-item-box .product-price h5 {
    font-size: 13px;}
    .product-button a {padding: 4px 9px;
        margin-top: 11px;
        margin-bottom: 6px;
        font-size: 12px;}
        .newest-items-section .product-items-wrap .product-item-box .product-badge span {padding: 3px;font-size: 9px;}
        .bestseller-items-section .bsp-left-image-wrap {
            margin: 0;
          }
          .bestseller-items-section .bsp-products-wrap {
            padding: 30px 0 15px;
          }
        .bestseller-items-section .bsp-products-wrap .custom-col-5 {
            margin: 10px 0px;
            flex: 0 0 33.33%;
          }
          .bestseller-items-section .bsp-left-img-1 {
            padding-bottom: 15px;
            flex: 0 0 49%;
            margin-left: 0;
          }
          .bestseller-items-section .bsp-left-img-2 {
            flex: 0 0 49%;
            margin-right: 0;
          }
          .bestseller-items-section .bsp-left-img-1 img,
          .bestseller-items-section .bsp-left-img-2 img {
            min-height: 100%;
height: auto;
          }
          .bsp-banner-bottom .bsp-banner-bottom-wap img {
            height: 340px;}
          .faq-accordion {
            margin-top: 30px;
          }
.contact-us .contact-us-right {height: 340px;}
.contact-us .contact-us-left {height: 340px;position: relative;
  z-index: 9;padding: 54px 30px;margin-bottom: 15px;}
.contact-us .row > * {padding-right: calc(var(--bs-gutter-x) * .5) !important;padding-left: calc(var(--bs-gutter-x) * .5) !important;}
.contact-us {margin-bottom: 30px;}
.product-item-box:hover .product-images img:last-of-type, .product-item-box .product-images img:first-of-type {height: 144px;}

.bsp-banner-bottom .bsp-banner-bottom-wap {height: 340px;background-position: 72% center;z-index: 9;}
.bsp-banner-bottom .bsp-banner-bottom-wap::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0 0 0 / 0.4);
  z-index: -1;
}
.bsp-banner-bottom .bsp-banner-bottom-wap .list-banner-content {
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.bsp-banner-bottom .bsp-banner-bottom-wap h4 {
  font-size: 32px;
  line-height: 41px;
  margin-bottom: 16px;
}
.bsp-banner-bottom .bsp-banner-bottom-wap .custom-button {
  padding: 10px 25px;
  background-color: var(--c-primary);
}
.contact-us-left::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(227, 35, 48, 0.5);
  z-index: -1;
}
.contact-us .contact-us-left .contact-us-left-content ul {
  padding-top: 20px;
}
.contact-us .contact-us-left .contact-us-left-content .icons-content a {
  font-size: 17px;
  line-height: 38px;
}
.contact-us .contact-us-right-logo {text-align: center;}
.contact-us .contact-us-right-logo img {
  width: 70%;
}
.custom-offer-banner1 li.ni-banner:last-child{
  margin-bottom: 0;
}
/* sb */

/*supriyo-privacy-terms-refund-start*/
.custom-inner-banner {padding: 100px 0;}
.custom-inner-banner-title h2 {font-size: 28px;}
.breadcrumb-item.active {font-size: 14px;}
.breadcrumb-divider {padding-top: 4px;}
.custom-inner-banner .custom-inner-banner-breadcrumb {padding: 0px 30px 0px;padding-top: 10px;}
.custom-inner-banner .custom-inner-banner-breadcrumb a {font-size: 14px;}

/*supriyo-privacy-terms-refund-end*/

/*supriyo-blog-page-start*/
.post-content-img {min-height: 70px;}
.box-right-text h2 {font-size: 18px;line-height: 25px; margin-top: 20px;}
.box-right-text h5 {font-size: 14px;}
.popular-text.align-self-center h5 {font-size: 14px;}
.popular-content-date {padding: 35px 33px 35px;}

 /*supriyo-blog-page-end*/ 

}


@media (max-width: 767.98px){
    /*supriyo-start*/
    .top-section .top-nav {display: none;}
    .cart-section {flex: 0 0 40%;}
    .navigation .navbar-brand.col-lg-none.col-sm-block.ms-0.py-0 {flex: 0 0 40%;}
    .navigation .navbar-brand.col-lg-none.col-sm-block.ms-0.py-0 img {width: 60%;}




    /*supriyo-end*/


     /* Paulami Saha work start */
    .custom-offer-banner1 .ni-banner-wrap {flex-wrap: wrap;}
    .ni-banner a img{width: 100%;}
    .custom-offer-banner1 li.ni-banner:nth-child(odd){margin-left: 0;width: 50%;}
    .custom-offer-banner1 li.ni-banner:nth-child(even){width: 42%; margin-right: 0;}
    .custom-offer-banner1 li.ni-banner {margin-bottom: 15px;}
    .custom-offer-banner1 li.ni-banner img {margin-top: 8px;}
    .fi-offer-img-wrap img {width: 100%;height: 305px;}
    .bsp-banner-bottom .bsp-banner-bottom-wap img {height: 331px;}
    /* .bsp-banner-bottom .bsp-banner-bottom-wap .list-banner-content {top: 10px;}  */
    .fi-offer-banner1 .container-fluid .row .col-lg-6 .list-banner-content h4 {font-size: 35px;line-height: 47px;}
    .fi-offer-banner1 .container-fluid .row .col-lg-6 .list-banner-content p {font-size: 19px;line-height: 19px;}
    .bsp-banner-bottom .bsp-banner-bottom-wap h4 {font-size: 34px;line-height: 51px;}
    .bsp-banner-bottom .bsp-banner-bottom-wap a {padding: 15px 23px;}
    .custom-offer-banner1 .ni-banner-wrap {flex-wrap: wrap;}
    .ni-banner a img{width: 100%;}
    .custom-offer-banner1 li.ni-banner:nth-child(odd){margin-left: 0;width: 100%; margin-right: 0;}
    .custom-offer-banner1 li.ni-banner:nth-child(even){width: 100%; margin-right: 0;margin-left: 0;}
    .custom-offer-banner1 li.ni-banner {margin-bottom: 18px;}
    .fi-offer-img-wrap img {margin-bottom: 10px;}
                         /* Paulami Saha work end */

                         /* Deep-banner-start */
     .custom-banner .carousel-caption h2{ font-size: 22px; padding-bottom: 18px; }
     .custom-banner .side-banner-content a{ font-weight: 300; padding: 2px 4px; margin-top: 4px;}
     .custom-banner .side-banner-content h5{ font-size: 14px; font-weight: 300;}
     .custom-banner li.side-banner:first-child .side-banner-content a{ padding: 4px 5px; margin-top: 4px; }
     .custom-banner .side-banner:nth-child(2) .side-banner-content{ top: 44%; }
     /* Deep-banner-end */

     /* sb */
     .custom-col-5 {
      flex: 0 0 50% !important;
    }
    .contact-us .contact-us-left .contact-us-left-content .icons-content a {
      font-size: 15px;
      line-height: 37px;
    }
    .contact-us .contact-us-left .contact-us-left-content .icons-content a span i {
      font-size: 13px;
    }
    .contact-us .contact-us-right-logo img {
      width: 60%;
    }
    /* sb */

    /*supriyo-privacy-terms-refund-start*/
    .custom-inner-banner-title h2 {font-size: 26px;}
    .custom-inner-banner .custom-inner-banner-breadcrumb a {font-size: 14px;}
    .breadcrumb-item.active {font-size: 14px;}
    .custom-inner-banner {padding: 100px 0;}
    .term-condition-part .paragraph-bold {font-size: 13px;text-align: center;}
    .term-condition-part .paragraph {font-size: 13px;}
    .custom-term-condition .term-condition-part ul li {font-size: 13px;}
    .privacy-text .paragraph {font-size: 13px;}
    .privacy-text .custom-ul li {font-size: 13px;}
    .paragraph-margin {font-size: 13px;}
    .privacy-content {padding: 0px 0 20px;}
    .custom-inner-banner {margin-bottom: 60px;}
    .custom-term-condition {padding: 0 0 20px 0;}
    /*supriyo-privacy-terms-refund-end*/


    /*supriyo-blog-page-start*/
    .popular-content-date {width: 50%;}
    .popular-text.align-self-center h5 {font-size: 18px;}


    /*supriyo-blog-page-end*/

}

@media (max-width: 575.98px){
    /*supriyo-start*/
    .top-section {display: none;}
    .footer-2 {margin-top: 20px;}
    .footer-3 {margin-top: 20px;}
    .copyright-icons {text-align: center;}
    .copyright-left {text-align: center; margin-bottom: 20px;}

    /*supriyo-end*/


    /* Paulami Saha work start */
    .custom-offer-banner1 .ni-banner-wrap {flex-wrap: wrap;}
    .ni-banner a img{width: 100%;}
    /* .custom-offer-banner1 li.ni-banner:nth-child(odd){margin-left: 0;width: 50%;}
    .custom-offer-banner1 li.ni-banner:nth-child(even){width: 42%; margin-right: 0;} */
    .custom-offer-banner1 li.ni-banner {margin-bottom: 15px;}
    .custom-offer-banner1 li.ni-banner img {margin-top: 8px;height: auto;}
    .fi-offer-img-wrap img {width: 100%;height: 252px;}
    /* .bsp-banner-bottom .bsp-banner-bottom-wap .list-banner-content {top: 10px;}  */
    .bsp-banner-bottom .bsp-banner-bottom-wap h4 {font-size: 27px;line-height: 43px;}
    .bsp-banner-bottom .bsp-banner-bottom-wap a {padding: 12px 20px;}
    .bsp-banner-bottom .bsp-banner-bottom-wap img {height: 262px;}
    .fi-offer-banner1 .container-fluid .row .col-lg-6 .list-banner-content h4 {font-size: 31px;line-height: 37px;}
    .fi-offer-banner1 .container-fluid .row .col-lg-6 .list-banner-content a {font-size: 12px;padding: 9px 12px;}
    .fi-offer-banner1 .container-fluid .row .col-lg-6 .list-banner-content p {font-size: 17px;line-height: 12px;}
    .fi-offer-img-wrap img {margin-bottom: 6px;}
    .bsp-banner-bottom .bsp-banner-bottom-wap a {padding: 10px 15px;}
    /* .bsp-banner-bottom .bsp-banner-bottom-wap .list-banner-content {top: -7px;} */
                         /* Paulami Saha work end */
    /* Deep-banner-start */
    .custom-banner .carousel-caption h2{ font-size: 14px; }
    .custom-banner .carousel-caption h4{ font-size: 12px; }

    /* Deep-banner-end */
    /* sb */
    .contact-us .contact-us-left {background-position: 71% 50%;}
    .contact-us-left::after {background-color: rgba(227, 35, 48, 0.6);}
    .contact-us .contact-us-right-logo img {width: 100%;}
    /* sb */
    /*supriyo-privacy-terms-refund-start*/
    .sub-heading h4 {font-size: 18px;}
    .sub-heading-margin-top h4 {font-size: 18px;}
    .privacy-text .paragraph {text-align: center;}
    .sub-heading {text-align: center;}
    .paragraph-malware {text-align: center;}
    .custom-inner-banner-title h2 {font-size: 19px;}
    .custom-inner-banner .custom-inner-banner-breadcrumb a {font-size: 12px;}
    .breadcrumb-item.active {font-size: 12px;}
    .breadcrumb {align-items: center;}
    .custom-inner-banner {padding: 80px 0;}
    .term-condition-part .paragraph {text-align: center;}
    .term-condition-part .paragraph-margin-top {text-align: center;}
    .term-condition-part .sub-heading-margin-top {text-align: center;}
    /*supriyo-privacy-terms-refund-end*/

     /*supriyo-blog-page-start*/
     .blog-content .row.big-box {padding: 15px 5px;}
     .blog-content {padding: 0 0 10px 0;}
     .pagination {margin-bottom: 20px;}
      /*supriyo-blog-page-end*/
}

@media only screen and (max-width: 480.98px) {	
    /*supriyo-start*/
    .navigation .navbar-brand.col-lg-none.col-sm-block.ms-0.py-0 {flex: 0 0 35%;}
    .cart-section {padding: 5px 0px;}
    .navigation .navbar-brand.col-lg-none.col-sm-block.ms-0.py-0 img {width: 100%;}
    .faq .accordion-button.collapsed {font-size: 14px;}
    .accordion-button:not(.collapsed) {font-size: 14px;}
    .bottom-text li {padding: 0 0px 10px 0px;}
    .footer-1-text li a span {display: none;}
    .footer-2-text li a span {display: none;}
    .footer-header h3 {font-size: 16px;}


    /*supriyo-end*/

    /* Paulami Saha work start */
    .custom-offer-banner1 .ni-banner-wrap {flex-wrap: wrap;}
    .ni-banner a img{width: 100%;}
    .custom-offer-banner1 li.ni-banner {margin-bottom: 15px;}
    .custom-offer-banner1 li.ni-banner img {margin-top: 4px;height: auto;}
    .fi-offer-img-wrap img {width: 100%;height: 252px;}
    .fi-offer-banner1 .container-fluid .row .col-lg-6 .list-banner-content h4 {font-size: 24px;line-height: 30px;}
    .fi-offer-banner1 .container-fluid .row .col-lg-6 .list-banner-content p {font-size: 14px;line-height: 5px;}
    .fi-offer-banner1 .container-fluid .row .col-lg-6 .list-banner-content a {font-size: 12px;padding: 9px 12px;}
    .bsp-banner-bottom .bsp-banner-bottom-wap h4 {font-size: 21px;line-height: 26px;}
    .bsp-banner-bottom .bsp-banner-bottom-wap img {height: 207px;}
                         /* Paulami Saha work end */

                         /* sb */
     .custom-col-5 {flex: 0 0 100% !important;}
    /* sb */

    /*supriyo-blog-page-start*/
    .popular-text.align-self-center h5 {font-size: 16px;}
    .box-right-text .paragraph {font-size: 12px;line-height: 25px;}
    /*supriyo-blog-page-end*/

    
}

